/xsl/base-uri.tmp
/xsl/html-common.tmp
/atdoc/pages/*
/atdoc/.atdoc.xml
/atdoc/header.gif
/atdoc/index.css
/atdoc/index.html
/atdoc/single-page/*
/test/atdoc/pages/*
/test/atdoc/single-page/*
/test/atdoc/.atdoc.xml
/test/atdoc/header.gif
/test/atdoc/index.css
/test/atdoc/index.html
